!!!
%html
  %head
    %meta{ :content => "text/html; charset=utf-8", :"http-equiv" => "Content-Type" }
    %title Test
  %body
    %p="Dear #{@agent.name_first}"
    %p Thank you for choosing Property Line. Your listing has been uploaded to our databases. Please click on the link below to view and verify the correct information on your listing.

    %p
      %a{ :href => "http://propertyline.com/list/manage/?id=#{@listing.id}"}="http://propertyline.com/list/manage/?id=#{@listing.id}"