- content_for :sidebar do
  -if @uploads.count > 0
    %h4(class="page-header") Recent Uploads
    #recent-uploads
      %table(class='table table-hover table-striped simpleTable')
        %thead
          %tr
            %th(data-sort="int") Uploaded
            %th Listing
            %th Filename
        - @uploads.each do |upload|
          %tr
            %td
              =upload.created_at ? upload.created_at.strftime("%B %d, %Y") : "No upload date."
            %td
              - if upload.listing_id
                %a{ :href => "/listing/#{upload.listing_id}" }
                  = agent_listing_name(upload.listing_id)
              - else
                %span No listing created.
            %td
              %a{ :href => "/upload/#{upload.id}" }
                =truncate(upload.fileName, :length => 30)
= partial 'partials/upload_file'