%h4 Search Agents
%form.form-search(action="/agent/search" method="GET")
  %input.input-xlarge.search-query(type="text" name="search" placeholder="example: 14, Jones, John Smith")
  %button.btn(type="submit") Search