#upload-section
  %h4 Upload PDF file
  %form(action="/upload" method="post" enctype="multipart/form-data" class="form-inline")
    %input(type="file" class="file_input_hidden input-xxlarge" name="myfile" id="uploadr")
    %input(type="submit" value="Upload" class="btn btn-primary expand postfix")